@font-face {
    font-family: FiraGO;
    src: url(../Fonts/FiraGO-Regular.woff);
  }

  body {
    background: #FFFFFF;
    width: 100%;
  }

  *{
   box-sizing: border-box;
  }
  
  .box {
    background: #FFFFFF;
    width: 1223px;

    margin: 0 auto;
  }

  h2 {
    font-family: FiraGO;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;

    color: #000000;
 }

 table {
   border-collapse: collapse;
   width:100%;
}

 .table-row1 {
    height: 65px;

    font-family:FiraGO;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;

    color: #000000;

    background: #FFFFFF;
    border: 1px solid #EDEDED;
    text-align: center;
 }

   .table-row2 {
    background: #FAFAFA;
    border: 1px solid #EDEDED;
    height: 84px;
    padding-left:25px;
    
 }

 ::placeholder {
   
    font-family: 'FiraGO';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;

    color: #E8E8E8;
 }
 
.input_1{
   width: 359px;
   height: 50px;
   background: #FFFFFF;
   border: 1px solid #ECECEC;
   border-radius: 10px;
   padding-left: 24px;
}

.input_2 {
   background: #FFFFFF;
   border: 1px solid #ECECEC;
   border-radius: 10px;

   width: 266px;
   height: 50px;
   padding-left: 24px;
   }

.input_3 {
   background: #FFFFFF;
   border: 1px solid #ECECEC;
   border-radius: 10px;

   width: 217px;
   height: 50px;
   padding-left: 24px;
}

.btn_4{
   background: #FFDD04;
   border-radius: 10px;
   border: 0px;
   width: 141px;
   height: 50px;

   font-family:FiraGO;
   font-style: normal;
   font-weight: 700;
   font-size: 15px;
   line-height: 18px;

   color: #000000;
}

form {
   display: flex; 
}

 h2 {
   width: 106px;
   margin-top: 72px;
   font-family: Firago;
   font-style: normal;
   font-weight: 700;
   font-size: 24px;
   line-height: 29px;

   color: #000000;
 }

 .btn_1 {
    width: 141px;
    height: 40px;
    margin-left: 975px;
    margin-top: 64px;

    background: #FFDD04;
    border-radius: 10px;
    border: 1px solid transparent;

    font-family: FiraGO;
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    
    color: #000000;
 }

 .table-row3 {
   background: #FFFFFF;
   border: 1px solid #EDEDED;
   height: 65px;

   font-family: FiraGO;
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 19px;

   color: #000000;
 }

 tbody,tr, td{
   padding: 12px;
   padding-left: 25px;

   background: #FAFAFA;
   border: 0px solid #EDEDED;

    font-family: FiraGO;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;

    color: #000000;
 }
 
 .btn_2 {
   background: #FF8271;
   border-radius: 10px;
   border: 0px;
 
   width: 93px;
   height: 33px;

   font-family: FiraGO;
   font-style: normal;
   font-weight: 700;
   font-size: 15px;
   line-height: 18px;
   
   color: #000000;   
 }

 .btn_3 {
   background: #FFDD04;
   border-radius: 10px;
   border: 0px;

   width: 93px;
   height: 33px;

   font-family: FiraGO;
   font-style: normal;
   font-weight: 700;
   font-size: 15px;
   line-height: 18px;

   color: #000000;
 }