@font-face {
    font-family: FiraGO;
    src: url(../Fonts/FiraGO-Regular.woff);
  }

  body {
    background: #F5F5F5;
    width: 100%;
  }

  
  .box {
    position: relative;
    width: 1440px;
    height: 1024px;

    background: #FFFFFF;
  }

  h2 {
    width: 148px;
    height: 24px;
    padding-top: 35px;
    margin-left: 109px;
    
    font-family: FiraGO;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;

    color: #000000;
 }

 table {
   box-sizing: border-box;

   border-spacing:0px;

   width: 1223px;
   margin-top: 89px;
   margin-right: 108px;
   margin-left:109px;;

   background: #FFFFFF;
   border: 1px solid #EDEDED;
}

 .table-row1 {
    box-sizing: border-box;

    width: 1223px;
    height: 65px;
    margin-right:108px;
    margin-left: 109px;
    margin-top: 89px;

    font-family:FiraGO;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;

    color: #000000;

    background: #FFFFFF;
    border: 1px solid #EDEDED;
    text-align: center;
 }

   .table-row2 {
    box-sizing: border-box;
   
    padding: 10px;

    background: #FAFAFA;
    border: 1px solid #EDEDED;
    text-align: center;
 }

 
.first-child {
   box-sizing: border-box;
   background: #FFFFFF;
   border: 1px solid #ECECEC;
   border-radius: 10px;

   width: 250px;
   height: 50px;

   margin-top: 17px;
   margin-right: 47px;
   margin-bottom: 17px;
   margin-left: 25px;
}

.child-2 {
   box-sizing: border-box;

   background: #FFFFFF;
   border: 1px solid #ECECEC;
   border-radius: 10px;

   width: 160px;
   height: 50px;
   margin-top: 17px;
   margin-right: 50px;
   margin-bottom: 17px;
   margin-left: 47px;
}

.child-3 {
   box-sizing: border-box;

   background: #FFFFFF;
   border: 1px solid #ECECEC;
   border-radius: 10px;

   width: 100px;
   height: 50px;
   margin-top: 17px;
   margin-right: 79px;
   margin-bottom: 17px;
   margin-left: 50px;
}

.last-child {
   box-sizing: border-box;

   width: 70px;
   height: 50px;
   margin-top: 17px;
   margin-right: 39px;
   margin-bottom: 17px;
   margin-left: 79px;

   background: #FFDD04;
   border-radius: 10px;

   font-family:FiraGO;
   font-style: normal;
   font-weight: 700;
   font-size: 15px;
   line-height: 18px;

   color: #000000;
}

form {
   display: flex;
   justify-content: space-between; 
}

 h2 {
   width: 106px;
   height: 24px;
   margin-top: 68px;
   margin-left: 110px;

   font-family: Firago;
   font-style: normal;
   font-weight: 700;
   font-size: 24px;
   line-height: 29px;

   color: #000000;
 }

 .btn {
    width: 141px;
    height: 40px;
    margin-top: 68px;
    margin-right: 108px;
    margin-bottom: 21px;

    background: #FFDD04;
    border-radius: 10px;
    border: 1px solid transparent;

    
    
    font-family: FiraGO;
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    
    color: #000000;
 }

 .table-row3 {
    box-sizing: border-box;

    width: 1223px;
    height: 65px;
    margin-right:108px;
    margin-left: 109px;
    margin-top: 29px;

   font-family: FiraGO;
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 19px;

   color: #000000;
 }

 .table-row4 {
   box-sizing: border-box;

   width: 1223px;
   height: 65px;
   margin-right:108px;
   margin-left: 109px;

   background: #FAFAFA;
   border: 1px solid #EDEDED;

 }